image:
  repository: weyerdataengineering.azurecr.io/aiteza-frontend-new
  tag: ""
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullNameOverride: aiteza-frontend

timezone: "Europe/Berlin"

aiteza:
  backendUrl: ""
  keycloak:
    url: ""
    realm: ""
    clientId: ""
  strapi:
    url: ""
    secretRef:
      name: ""
      keys:
        token: "token"

service:
  annotations: {}
  type: ClusterIP
  clusterIP:
  httpPort: 80
  sessionAffinity: None

ingress:
  enabled: true
  ingressClassName: ""
  annotations: {}
  host: ""
  tls:
    secretName: ""

serviceAccount:
  create: false

replicaCount: 2

resources:
  requests:
    memory: 256Mi
    cpu: 250m
  limits:
    memory: 512Mi
    cpu: 500m

podAnnotations: {}

podSecurityContext: {}
securityContext:
  runAsNonRoot: true
  runAsUser: 101
  runAsGroup: 101
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  seccompProfile:
    type: RuntimeDefault

terminationGracePeriodSeconds: 30

nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: []

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 60

podDisruptionBudget:
  enabled: true
  minAvailable: 50%
